<div th:fragment="aside">
	<div class="row form">
		<div th:if="${session.username}">
			<p><span id="prim">Hola</span> <span th:text="${session.username}"></span></p>
			<p><a th:href="@{/perfil/ver}">Mi perfil</a></p>
			<p th:if="${session.admin}"> <a th:href="@{/usuario/listar}">Gestionar usuarios</a></p>
			<p th:if="${session.admin}"> <a th:href="@{/post/listar}">Gestionar post</a></p>
			<p><a th:href="@{/logout}">Log out</a></p>
		</div>
		<div th:unless="${session.username}">
			<p><a th:href="@{/registrado}">Log in</a></p>
			<p><a th:href="@{/registro/form}">Registrarse</a></p>
		</div>
	</div>
	<div class=" cat">
		<h3>Categorias</h3>
		<a th:each="categorias: ${categorias}" th:href="@{/post/categoria(id_categoria=${categorias.categoriaid})}"
			th:text="${categorias.descripcion}"></a>
	</div>
	<div class=" eti">
		<h3>Etiquetas</h3>
		<a th:each="etiquetas: ${etiquetas}" th:href="@{/post/etiquetas(id_etiqueta=${etiquetas.etiquetaid})}"
			th:text="${etiquetas.descripcion}"></a>

	</div>
</div>

