
<header th:fragment="header">
	<script src="../../javascript/jquery-3.4.1.js"></script>
	<script src="../../javascript/bootstrap.min.js"></script>
	<header id="sp-logo">
		<div class="container">
			<div class="row">
				<div id="sp-logo" class="col-sm-12 col-md-12">
					<div class="sp-column ">
						<a class="logo" href="index.html">
							<h1>Viajando con María</h1>
							<p class="logo-slogan"></p>
						</a>
					</div>
				</div>
			</div>
		</div>

	</header>

	

	<nav class="navbar navbar-expand-md  navbar-light nav ">
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarsExample04" aria-controls="navbarsExample04"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExample04">
			<ul class="navbar-nav mr-auto sp-megamenu-parent">
				<li class=" nav-item sp-menu-item current-item active"><a href="/">Inicio</a></li>
					<li class=" nav-item sp-menu-item"><a href="#">Categorias</a></li>
					<li class=" nav-item sp-menu-item sp-has-child"><a th:href="@{/sobremi}">Sobre mí</a></li>
			
			</ul>
			
		</div>
	</nav>


</header>
