<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Ver Perfil</title>
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="css/header.css" rel="stylesheet" type="text/css" />

</head>
<body>
	<header th:replace="fragmentos/header.html :: header"></header>

	<main class="container">
		<div class="row">
			<div  class="col-md-9">
				<table id="paradas">

					<tr>
						<th>Userid</th>
						<th>Username</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Email</th>
						<th>Modificar</th>
						<th>Borrar</th>
					</tr>
					<tr th:each="usuario: ${usuario}">

						<td th:text="${usuario.userid}" />
						<td th:text="${usuario.username}" />
						<td th:text="${usuario.nombre}" />
						<td th:text="${usuario.apellidos}" />
						<td th:text="${usuario.correo}" />
						<td><a
							th:href="@{modificarForm(userid=${usuario.userid})}">Modificar
						</a></td>
						<td><a
							th:href="@{eliminar(userid=${usuario.userid})}">Eliminar
						</a></td>
					</tr>

				</table>
			</div>
		</div>

	</main>


</body>
</html>