<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Ver Perfil</title>
<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../../css/header.css" rel="stylesheet" type="text/css" />
	<link href="../../css/crear.css" rel="stylesheet" type="text/css" />
	<link href="../css/sticky-footer.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<header th:replace="fragmentos/header.html :: header"></header>

	<main class="container">
		<div class="row">
			<div  class="col-md-9">
				<div class="row form">
				 <form th:object="${usuario}"  method="post" >
				 	<p>Log in</p>
				 	<p><input type="text" placeholder="Usuario" disabled th:field="*{username}"/></p>
				 	<p><input type="password" placeholder="Contraseña" disabled th:field="*{password}"/></p>
				 	<p><input type="text" placeholder="Nombre" disabled th:field="*{nombre}" /></p>
				 	<p><input type="text" placeholder="apellidos" disabled th:field="*{apellidos}"/></p>
				 	<p><input type="email" placeholder="Usuario" disabled th:field="*{correo}"/></p>
				 	<p><a th:href="@{/usuario/modificarForm}">Modificar</a></p>	
				 </form>
				</div>
				</div>
				<!------------------------ Aside --------------------------------------->
			<div class="col-md-3 aside">
				<div th:replace="fragmentos/aside.html :: aside"></div>
			</div>
			
		</div>

	</main>


	<div th:replace="fragmentos/footer.html :: footer"> </div>
</body>
</html>