<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="../css/header.css" rel="stylesheet" type="text/css" />
	<link href="../css/crear.css" rel="stylesheet" type="text/css" />
	<script src="../javascript/jquery-3.4.1.js"></script>

</head>

<body>
	<header th:replace="fragmentos/header.html :: header"></header>

	<main class="container">
		<div class="row">
			<!-------------------------Post principal----------------------------------->
			<div class="col-md-9 postprinci container">
				<div class="row postp">
					<h1 th:text="${post.titulo}"></h1>
					<p th:text="${post.fecha}"></p>
					<img th:src="@{${ruta}+${post.foto}}"><img>
					<p th:text="${post.post}"></p>
					<div th:if="${sig}">
						<a th:href="@{/post/verpost(id=${sig.postid})}">Siguiente post -></a>
					</div>
				</div>
				<div class="row">
					<h5>Comentarios</h5>

					<div class="media text-muted pt-3">
						<div class="comentario">
							<form th:action="@{/post/guardarComentario}" method="POST">
								<input type="hidden" name="postid" th:field="${post.postid}">
							<textarea id="coment" name="comentario" rows="3"></textarea>
							<input type="submit"  value="Comentar" class="btn">
							</form>
						</div>
						<div class=" pb-3 border-bottom border-gray" th:each="comentarios: ${comentarios}">
							<strong class="d-block text-gray-dark"></strong><span>Publicado:</span>
							<span th:text="${comentarios.fecha}"></span>
							<span>por @</span>
							<span th:text="${comentarios.userid.username}"></span>
							<p th:text="${comentarios.coment}"></p>
							</p>
						</div>
					</div>

					<div class="row">
						<h5>Anteriores</h5>
						<div class=" anteriores">
							<div th:if="${sig}" class="col-md-4">
								<div>
									<h5 th:text="${sig.titulo}"></h5>
									<img th:src="@{${ruta}+${sig.foto}}"><img>
									<p th:text="${sig.post}"></p>
								</div>
								<a th:href="@{/posts/verpost(id=${sig.postid})}">Leer mas</a>
							</div>
							<div th:if="${sig1}" class="col-md-4">
								<div>
									<h5 th:text="${sig1.titulo}"></h5>
									<img th:src="@{${ruta}+${sig1.foto}}"><img>
									<p th:text="${sig1.post}"></p>
								</div>
								<a th:href="@{/posts/verpost(id=${sig1.postid})}">Leer mas</a>
							</div>
							<div th:if="${sig2}">
								<div>
									<h5 th:text="${sig2.titulo}"></h5>
									<img th:src="@{${ruta}+${sig2.foto}}"><img>
									<p th:text="${sig2.post}"></p>
								</div>
								<a th:href="@{/posts/verpost(id=${sig2.postid})}">Leer mas</a>
							</div>

						</div>
					</div>
				</div>

				<!------------------------ Aside --------------------------------------->
				<div class="col-md-3 aside">
					<div class="row form">

						<a th:href="@{/registrado}">Log in</a>
						<a th:href="@{/registro/form}">Registrarse</a>
						</form>
					</div>
					<div class="row cat">
						<h3>Categorias</h3>
						<a th:each="categorias: ${categorias}"
							th:href="@{/post/categoria(id=${categorias.id_categoria})}"
							th:text="${categorias.descripcion}"></a>
					</div>
					<div class="row eti">
						<h3>Etiquetas</h3>
						<a th:each="etiquetas: ${etiquetas}" th:href="@{/post/etiquetas(id=${etiquetas.id_etiqueta})}"
							th:text="${etiquetas.descripcion}"></a>

					</div>
				</div>
			</div>

	</main>
	

</body>

</html>