form >p> label,form >p>input, form >p> textarea{

	display: block;
	width: 100%;
}

form >p> label,form >p>input, form >p> input{

	display: block;
	width: 85%;
}
div.pull-left {
	float: left;
	padding-right: 1rem;
	max-width: 50%;
}

.comentario {
	width: 100%;
}

.encajap {
	font-size: 100%;
	line-height: 150%;
	margin: 0 0 1.5rem 0;
}

.encaja>img {
	width: 50%;
	max-width: 100%;
	height: auto;
	max-height: none;
}

#enviar{
	color: #fff;
    background-color: #cf9f60;
    border-color: #cf9f60;
}

.etiquetas label{
	display: block;

}

.etiquetas div{
	display: inline-block;	
	margin: 10px;
}


.etiquetas div *{
	display: inline-block;
	
	margin: 5px;
}

.btn{
border-color: #cf9f60;
width: auto;
float: right;
}

.seleccionar{
	float: left;
}

.error{
	color:red;
}


