@charset "ISO-8859-1";

@import url(http://fonts.googleapis.com/css?family=Dancing+Script:400,700);

.nav{
	padding-top: 0rem;
	padding-right: 5rem;
}
header#sp-logo {
    background: lightgoldenrodyellow;
}

#sp-logo {
    color: #000;
    text-align: center;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

body {
    font-family: Open Sans, sans-serif;
    font-weight: 300;
    line-height: 24px;
}

#sp-logo a h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    margin-bottom: 0;
    text-decoration: none;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: #7d7676;
}


.is-sticky #sp-logo-small {
    display: block;
}

.is-sticky #sp-menu {
    margin-left: 0;
    text-align: right;
}


.is-sticky #sp-menu {
    margin-left: 0;
    text-align: right;
}

.is-sticky #offcanvas-toggler {
    float: right;
    line-height: 50px;
}

.sp-megamenu-parent {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 9;
    display: block;
    float: right;
}

.sp-megamenu-parent >li {
    display: inline-block;
    position: relative;
    padding: 0;
}

.show li {
	display: block;
}

.sp-megamenu-parent >li >a {
    color: #cf9f6a;
    padding: 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.sp-megamenu-parent >li >a:hover{
	text-decoration: underline;
}

#sp-header {
    background: #ffffff;
    height: 50px;
 	box-shadow: 0 3px 3px rgba(0,0,0,0.05);
}

#sp-logo-small h1 {
    float: left;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    line-height: 40px;
    margin: 5px 0 0;
    text-decoration: none;
}


.form{	
	border: solid #cf9f6a 1px;
	border-radius: 10px;
}

form{
	margin: 10px 20px;
	font-family: Open Sans, sans-serif;
	font-size: 0.9em;
}

form a{
	float: right;
}

form input{
	border-radius: 5px;
	margin: 0 auto;
}

.postprinci h1{
        font-family: 'Dancing Script';
        font-size: 5em;
        color: goldenrod;
        margin: 10px;
        text-align: center;
}

.postprinci img{
	float: left;
    width: 50%;
    margin: 0px 10px;
}

.postp p{
    text-align: justify;
}

.postp a{
    float: right;
   color: #cf9f6a;
}
.aside > div{
    margin: 15px;
}
.cat a, .eti a{
   
    display: block;
    margin: 0px 15px; 
}

.cat a:hover, .eti a:hover{
   text-decoration: underline; 
   color: #cf9f6a;
}

#prim {
    margin: 20px 0px 0px 10px;
}

.form{
    padding: 10px;
}
.form a{
    display: block;
    margin: 10px;
}


h3{
    color: #cf9f6a;
    padding: 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h5{
    color: #cf9f6a;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.anteriores > div > div > p{
    height: 230px;
}

.anteriores a, .anteriores h6 {
     color: #cf9f6a;
}

.anteriores > div > div  {
     overflow: hidden;
}
    
.comentario textarea{
    width: 100%;
    border-radius: 10px;
}

.comentario a, nav, nav button{
    float: right;
}

nav div{
    float: left;
}

.form input[type="text"], .form input[type="password"] {
    width: 85%;
}

.form form {
	width: 100%;
}

.comentario ~ div, main{
    clear: both;
}
