<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Acceso Denegado</title>
</head>
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<body>

<main class="container">
		<div class="row">
			<div  class="col-9">.col-md-8</div>
			<div  class="col-2">.col-md-4</div>
		</div>

	</main>
 
    <h3 th:if="${message != null}" th:utext="${message}" style="color: red;"></h3>
 
    <div th:if="${userInfo != null}" th:utext="${userInfo}"></div>
     <a th:href="@{index}">Volver</a>
</body>
 
</html>