<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="css/header.css" rel="stylesheet" type="text/css" />

</head>
<body>
	<header th:replace="fragmentos/header.html :: header"></header>
	<main class="container">
		<div class="row">
			<div  class="col-md-9"></div>
			<!------------------------ Aside --------------------------------------->
			<div class="col-md-3 aside">
				<div th:replace="fragmentos/aside.html :: aside"></div>
			</div>
		</div>

	</main>
 <div th:if="${param.error}">
            Usuario o password invalidos.
        </div>
        <div th:if="${param.logout}">
            Has hecho logout.
        </div>
	<a th:href="@{/registrado}">registrado</a>
	<a th:href="@{/admin}">admin</a>
	<a th:href="@{/logout}">logout</a>

</body>
</html>