<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>Registro</title>
<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../css/header.css" rel="stylesheet" type="text/css" />
<link href="../css/crear.css" rel="stylesheet" type="text/css" />
	<link href="../css/sticky-footer.css" rel="stylesheet" type="text/css" />

</head>
<body>
	<header th:replace="fragmentos/header.html :: header"></header>

	<main class="container">
		<div class="row">
			<div  class="col-md-9">
				<div class="row form">
				 
				 <form th:object="${usuario}" th:action="@{/registro/registrar}" method="post">
						<p>Modificar perfil</p>
						<p><label>Usuario:</label><input type="text" placeholder="Usuario" th:field="*{username}" /></p>
						<p><label>Contraseña:</label><input type="password" placeholder="Contraseña" autocomplete="false" th:field="*{password}" /></p>
						<p><label>Repetir Contraseña:</label><input type="password" placeholder=" Repita Contraseña" /></p>
						<p><label>Nombre:</label><input type="text" placeholder="Nombre" th:field="*{nombre}" /></p>
						<p><label>Apellidos:</label><input type="text" placeholder="apellidos" th:field="*{apellidos}" /></p>
						<p><label>Email:</label><input type="email" placeholder="correo" th:field="*{correo}" /></p>
						<p><input type="submit" value="Registrar" id="entrar"/></p>
					</form>
				</div>
			
			</div>
			<!------------------------ Aside --------------------------------------->
			<div class="col-md-3 aside">
				<div th:replace="fragmentos/aside.html :: aside"></div>
			</div>
		</div>

	</main>


</body>
</html>