<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="css/header.css" rel="stylesheet" type="text/css" />

</head>
<body>
<h1>dentro</h1>
	
	<header th:replace="fragmentos/header.html :: header"></header>
	<main class="container">
		<div class="row">
			<div  class="col-md-9"></div>
			<div  class="col-md-3">
				<div class="row form">				 
				 	<p>Hola <span th:text="${nombre}"></span></p>
				 	<p><a th:href="@{/perfil/ver}">Mi perfil</a></p>				 
				</div>
				<div class="row">
				categorias
				</div>
				<div class="row">
				etiquetas
				</div>
			</div>
		</div>

	</main>


</body>
</html>